@model CartridgesSearchQueryModel

@{ ViewData["Title"] = "All Cartridges"; }

<form method="get">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="PrinterBrand"></label>
                    <select asp-for="PrinterBrand" class="form-control">
                        <option value="">All</option>

                        @foreach (var brand in Model.PrintersBrands)
                        {
                            <option value="@brand">@brand</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Search...">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Sorting"></label>
                    <select asp-for="Sorting" class="form-control">
                        <option value="0">Date Created</option>
                        <option value="1">PrinterBrand And Model</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Search">
            </div>
        </div>
    </div>
</form>



@{ var previousPage = Model.CurrentPage - 1;
                if (previousPage < 1)
                {
                    previousPage = 1;
                }

                var maxPage = Math.Ceiling((double)Model.TotalCartridges / CartridgesSearchQueryModel.CartridgesPerPage); }

<div class="row text-center">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage==1 ?"disabled":string.Empty)"
           asp-controller="Cartridges"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-printerBrand="@Model.PrinterBrand"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-Sorting="@((int)Model.Sorting)">Previous Page</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage==maxPage ?"disabled":string.Empty)"
           asp-controller="Cartridges"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage+1)"
           asp-route-printerBrand="@Model.PrinterBrand"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-Sorting="@((int)Model.Sorting)">Next Page</a>
    </div>
</div>

@if (!Model.Cartridges.Any())
{
    <h2 class="text-center">No cars found by the given criteria!</h2>
}

<partial name="_CartridgePartial" model="@Model.Cartridges" />